<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common/header :: common-header"/>
<body>
<div th:replace="common/header :: navbar" />


<div class="container" style="height: 50%">

            <table border="0" id="bookList">
                <thead><tr><th></th></tr></thead>
                <tbody>
                <tr class="book-item" data-th-each="book : ${bookList}">
                    <td>
                        <div th:if="${book != null}">
                            <div class="row">
                                <a th:href="@{/bookPage?id=}+${book.id}"> <img class="img-responsive img-thumbnail" th:src="@{/bookImage/}+${book.id}+'.png'" style="width: 100px;height: 100px"/></a>
                                <div class="col-xs-9">
                                    <h4 th:text="${book.title}"></h4>
                                    <span th:text="${book.dateOfPublication}"></span>
                                    <span th:text="${book.author}"></span>
                                    <span th:text="${#strings.capitalize(book.formatOfBook)}"></span>
                                    <span th:text="${book.numberOfPages}"><span> pages</span></span>
                                   <span th:text="${book.price}">price</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>


<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>