<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common/header :: common-header"/>
<body>
<div th:replace="common/header :: navbar" />

<div id="bookTable" class="container-fluid ">
    <div class="row justify-content-center">
        <div class="col-12">
            <div style="box-sizing: border-box">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="">Author</th>
            <th>Publishing house</th>
            <th>Language</th>
            <th>Date of publication</th>
            <th>Genre</th>
            <th>Number of pages</th>
            <th>Paperback vs Hardcover</th>
            <th>Available</th>
            <th>price</th>
            <th>Number of available books</th>
            <th><p>Delete</p><p>/Update</p></th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="book : ${bookList}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.publishingHouse}"></td>
            <td th:text="${book.language}"></td>
            <td th:text="${book.dateOfPublication}"></td>
            <td th:text="${book.genre}"></td>
            <td th:text="${book.numberOfPages}"></td>
            <td th:text="${book.formatOfBook}"></td>
            <td th:text="${book.available}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.numberOfAvailableBooks}"></td>
            <td>
                <div class="btn-group-sm" data-toggle="buttons">
                    <form th:action="@{deleteBook}" method="post">
                        <input type="hidden" name="id" th:value="${book.id}" />
                        <input type="submit" value="Delete" class="btn btn-danger small" style="width: 100%"/>
                    </form>

                    <form th:action="@{bookList/bookInfo?id=}+${book.id}">
                        <input type="hidden" name="id" th:value="${book.id}" />
                        <input type="submit" value="Update" class="btn btn-info small" style="width: 100%"/>
                    </form>
                    <form th:action="@{/bookPage?id=}+${book.id}">
                        <input type="hidden" name="id" th:value="${book.id}" />
                        <input type="submit" value="Preview" class="btn btn-info small" />
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
        </div>
        </div>
    </div>
    <div class="row" th:fragment="pagination">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                        <a class="page-link" th:href="@{/admin/bookList(size=${bookList.size}, page=${pageNumber})}" th:text=${pageNumber}>1</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>