<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common/header :: common-header"/>
<body>
<div th:replace="common/header :: navbar" />


<div class="container">

    <form th:action="@{/shoppingCart/addItem}" method="post" style="border: solid 1px red">
        <input type="hidden" name="id" th:value="${book.id}"/>
        <div class="row" style="margin-top: 120px">
            <div class="col-xs-3">
                <a th:href="@{/allBooks}">Return to oll books</a><br/>
                <img class="img-responsive shelf-book" th:src="@{/bookImage/}+${book.id}+'.png'"/>
            </div>
            <div class="col-xs-9">
                <h3 th:text="${book.title}">Book title</h3>
                <div class="row">
                    <div class="col-xs-5">
                        <h3>Author:<span th:text="${book.author}"></span></h3>
                        <p>Publisher:<span th:text="${book.publishingHouse}"></span></p>
                        <p>Date of publication:<span th:text="${book.dateOfPublication}"></span></p>
                        <p>Language<span th:text="${book.genre}"></span></p>
                        <p>Book format: <span th:text="${book.formatOfBook}"></span></p>
                        <p>Language<span th:text="${book.genre}"></span></p>
                        <p>Number of pages<span th:text="${book.numberOfPages}"></span></p>
                    </div>
                    <div class="col-xs-7">
                        <div class="panel panel-default" style="border-with:5px; margin-top: 20px">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h4>
                                            Price:<span th:text="${book.price}"></span>
                                        </h4>
                                        <span>quantity</span>
                                        <select name="qty">
                                            <option th:each="qty : ${qtyList}" th:value="${qty}" th:text="${qty}"></option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <h4 th:if="${book.numberOfAvailableBooks&gt;0}">Available</h4>
                                        <h4 th:if="${book.numberOfAvailableBooks==0}">Unavailable</h4>
                                        <button type="submit" class="btn btn-success">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <p th:text="${book.description}"></p>
        </div>
    </form>

</div>

<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>


