<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common/header :: common-header"/>
<body>
<div th:replace="common/header :: navbar" />

<div class="container-fluid fullWindow">
    <div class="row">
        <div class="col-5 col-sm-4 col-lg-3 col-xl-3" >
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="myOrders" data-toggle="list" href="#list-orders" role="tab" >My orders</a>
                <a class="list-group-item list-group-item-action" id="myOrdersStory" data-toggle="list" href="#list-ordersStory" role="tab" >My ordersStory</a>
                <a class="list-group-item list-group-item-action" id="deliveryInformation" data-toggle="list" href="#list-deliveryInformation" role="tab" >Delivery information</a>
            </div>
        </div>
        <div class="col-7 col-sm-8 col-lg-9 col-xl-9" >
            <div class="tab-content " id="nav-tabContent" >
                <div class="tab-pane fade show active" id="list-orders" role="tabpanel" aria-labelledby="myOrders">
                        <div th:if="${empty != 'true'}">
                        <div class="itemContainer">
                            <div class="card mb-3" style="max-width: 540px;margin: auto;" th:each="cart : ${cartExtensionsCart}">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 d-flex justify-content-center" >
                                        <a th:href="@{/bookPage?id=}+${cart.book.id}"><img class="img-responsive bookImageCart" th:src="@{/bookImage/}+${cart.book.id}+'.png'"/></a>
                                    </div>
                                    <div class=" col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">
                                        <div class="card-body">
                                            <form th:action="@{deleteItem}" method="post">
                                                <input type="hidden" name="id" th:value="${cart.id}">
                                                <button type="submit" class="close" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </form>
                                            <h5 class="card-title text-center" th:text="${cart.book.title}"></h5>
                                            <div class="card-text d-flex flex-column align-items-end bottomText">
                                            <p th:text="${cart.book.author}"></p>
                                            <p th:text="${cart.book.language}"></p>
                                        </div>
                                            <div class="d-flex flex-row justify-content-end">
                                           <h3 th:text="${cart.book.price}"></h3> <h3>&#8372;</h3>
                                            </div>
                                            <div class="d-flex flex-row justify-content-end">
                                                <div th:if="${cart.quantity&gt;1}"><span th:text="${cart.quantity}"></span>:quantity</div>
                                            </div>

                                        </div>
                                </div>
                            </div>
                            </div>
                        </div>
                            <div class="d-flex flex-row justify-content-end">
                                <h1 th:text="${userCart.totalPrice}"></h1>
                                <h1>:Total price</h1>
                            </div>
                            <div class="d-flex justify-content-end" style="margin-bottom: 2%">
                            <a th:href="@{orderInformation}" class="btn btn-secondary" role="button" aria-pressed="true">Confirm</a>
                            </div>
                        </div>
                    <div th:unless="${empty != 'true'}"  class="noItems">
                        <img th:src="@{images/shopping-cart.png}" class="emptyCartImg">
                        <h1>empty cart</h1>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-ordersStory" role="tabpanel" aria-labelledby="myOrdersStory">
                    <div th:if="${userOrderStoryEmpty != 'true'}">
                        <div class="container itemContainer">
                            <div class="card mb-3" style="max-width: 540px;margin: auto;" th:each="order : ${userOrderStory}">
                                <div class="d-flex flex-row justify-content-end">

                                <span th:text="${#temporals.format(order.orderDate,'dd-MM-yyyy')}"></span>
                                    <form th:action="@{changeDisplayStatus}" method="post">
                                        <input type="hidden" name="id" th:value="${order.id}">
                                        <button type="submit" class="close" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </form>
                                </div>
                                <div th:each="cart : ${order.cartExtensionsList}">
                                <div class="row" style="margin: 1em">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 d-flex justify-content-center">
                                        <a th:href="@{/bookPage?id=}+${cart.book.id}"><img class="img-responsive bookImageCart" th:src="@{/bookImage/}+${cart.book.id}+'.png'"/></a>
                                    </div>
                                    <div class=" col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">
                                        <div class="card-body">
                                            <h5 class="card-title text-center" th:text="${cart.book.title}"></h5>

                                            <div class="card-text d-flex flex-column align-items-end bottomText">
                                                <p th:text="${cart.book.author}"></p>
                                                <p th:text="${cart.book.language}"></p>
                                            </div>
                                            <div class="d-flex flex-row justify-content-end">
                                                <h3 th:text="${cart.book.price}"></h3> <h3>&#8372;</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="priceOrder">
                                    <span class="bookPrice text-right" th:text="${order.totalPrice}"></span>:Total price</div>
                                </div>
                            </div>
                    </div>

                    <div th:unless="${userOrderStoryEmpty != 'true'}" class="noItems">
                            <img th:src="@{images/shopping-cart.png}" class="emptyCartImg">
                            <h1>Empty Story</h1>
                    </div>
                    </div>
                <div class="tab-pane fade fullWindow" id="list-deliveryInformation" role="tabpanel" aria-labelledby="deliveryInformation">


                    <div class="container-fluid">
                            <div class="col-12 col-sm-12 col-lg-9 col-xl-8">
                                <form th:action="@{saveNewDeliveryInf}" method="post">
                                    <!--                        <input type="hidden" name="id" th:value="${delivery.id}">-->

                                    <div class="form-group">
                                        <label for="deliveryCountry">Delivery Country</label>
                                        <input type="text" class="form-control" id="deliveryCountry" placeholder="country" aria-describedby="dCountry"
                                               name="deliveryCountry" th:value="${delivery.deliveryCountry}" required="required">
                                        <small id="dCountry" class="form-text text-muted"> Enter in this field your country </small>
                                    </div>

                                    <div class="form-group">
                                        <label for="deliveryLocation">Delivery location(city/town)</label>
                                        <input type="text" class="form-control" id="deliveryLocation" placeholder="location" aria-describedby="dLocation"
                                               name="deliveryLocation" th:value="${delivery.deliveryLocation}" required="required">
                                        <small id="dLocation" class="form-text text-muted"> Enter in this field your location </small>
                                    </div>

                                    <div class="form-group">
                                        <label for="street">Delivery Street</label>
                                        <input type="text" class="form-control" id="street" placeholder="street" aria-describedby="dStreet"
                                               name="deliveryStreet" th:value="${delivery.deliveryStreet}" required="required">
                                        <small id="dStreet" class="form-text text-muted"> Enter in this field delivery street </small>
                                    </div>

                                    <div class="form-group">
                                        <label for="deliveryZipCode">Delivery zipCode</label>
                                        <input type="text" class="form-control" id="deliveryZipCode" placeholder="zip" aria-describedby="zip"
                                               name="deliveryZipCode" th:value="${delivery.deliveryZipCode}" required="required">
                                        <small id="zip" class="form-text text-muted"> Enter in this field zip code </small>
                                    </div>

                                    <div class="d-flex justify-content-start">
                                        <button th:if="${fieldDisabled == 'true'}" type="submit" class="btn btn-primary deliveryButton">Save</button>
                                        <button th:unless="${fieldDisabled == 'true'}" type="submit" class="btn btn-primary deliveryButton">Change</button>
                                    </div>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>
