<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common/header :: common-header"/>
<body>
<div th:replace="common/header :: navbar" />
<form action='paymentProcess' method='POST' id='checkout-form' xmlns:th="http://www.w3.org/1999/xhtml">
    <input type='hidden' th:value='${totalPrice/100}' name='amount' />
    <h1>Price:<span th:text='${totalPrice/100}' /></h1>
    <script
            src='https://checkout.stripe.com/checkout.js'
            class='stripe-button'
            th:attr='data-key=${stripeKey},
         data-amount=${totalPrice}'
            data-name='StackAbuse Services'
            data-description='Product Checkout'
            data-image='http://www.stackabuse.com/assets/images/sa-java-dark.svg?v=b5a08453df'
            data-locale='auto'
            data-zip-code='false'>
    </script>
</form>
    <div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>