<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common/header :: common-header"/>
<body>
<div th:replace="common/header :: navbar" />

<!--<div class="card mb-3" style="max-width: 540px;margin: auto;" th:each="order : ${userOrderStory}">-->
<!--    <div class="d-flex flex-row justify-content-end">-->

<!--        <span th:text="${#temporals.format(order.orderDate,'dd-MM-yyyy')}"></span>-->
<!--        <form th:action="@{changeDisplayStatus}" method="post">-->
<!--            <input type="hidden" name="id" th:value="${order.id}">-->
<!--            <button type="submit" class="close" aria-label="Close">-->
<!--                <span aria-hidden="true">&times;</span>-->
<!--            </button>-->
<!--        </form>-->
<!--    </div>-->

<!--    <div th:each="cart : ${order.cartExtensionsList}">-->
<!--        <div class="row" style="margin: 1em">-->
<!--            <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 d-flex justify-content-center">-->
<!--                <a th:href="@{/bookPage?id=}+${cart.book.id}"><img class="img-responsive bookImageCart" th:src="@{/bookImage/}+${cart.book.id}+'.png'"/></a>-->
<!--            </div>-->
<!--            <div class=" col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title text-center" th:text="${cart.book.title}"></h5>-->

<!--                    <div class="card-text d-flex flex-column align-items-end bottomText">-->
<!--                        <p th:text="${cart.book.author}"></p>-->
<!--                        <p th:text="${cart.book.language}"></p>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-row justify-content-end">-->
<!--                        <h3 th:text="${cart.book.price}"></h3> <h3>&#8372;</h3>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="priceOrder">-->
<!--        <span class="bookPrice text-right" th:text="${order.totalPrice}"></span>:Total price</div>-->
<!--</div>-->


<div data-th-each="userOrder : ${userOrderStory}">
    <span th:text="${userOrder.totalPrice}"></span>

    <div data-th-each="cartExtension : ${userOrder.cartExtensionsList}">
        <span th:text="${cartExtension.book.title}"></span>

    </div>
</div>








<footer th:replace="common/header :: footer"/>
<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>