<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common/header :: common-header"/>
<body>
<div th:replace="common/header :: navbar" />

<div data-th-each="userOrder : ${userOrderStory}">
    <span th:text="${userOrder.totalPrice}"></span>

    <div data-th-each="cartExtension : ${userOrder.cartExtensionsList}">
        <span th:text="${cartExtension.book.title}"></span>

    </div>
</div>
<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>